*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color:#222327
}


body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--color);
}
.navigation{
    position: relative;
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
}
.navigation ul{
    display: flex;
    width: 350px;
}
.navigation ul li{
    position: relative;
    list-style-type: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}