*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    background-color: #F6C390;
}
a,
a:hover{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.container{
    position: relative;
    margin: 35px auto 0;
    width: 300px;
    height: 534px;
    background-color: #533557;
    overflow: hidden;
}

.toggle-icon{
    width: 100%;
    padding-bottom: 50px;
    overflow: hidden;
}
.three-lines{
    position: relative;
    left: 20px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    height:30px;
    border-radius: 50%;
    cursor: pointer;
    background:transparent;
    transition: .6s;
}
.three-lines:hover{
    box-shadow: 0 0 0 10px rgb(0 0 0 / 10%), inset 0 0 0 90px rgb(0 0 0 / 10%);
}
/*when user click on toggle icon it will work*/
.large-hover:hover{
    box-shadow: 0 0 0 500px rgb(0 0 0 / 10%), inset 0 0 0 90px rgb(0 0 0 / 10%);
}
.three-lines .line-1{
    width: 10px;
    height: 3px;
    background-color: #df9203;
}
.three-lines .line-2{
    width: 20px;
    height: 3px;
    background-color:#df9203;
    margin-top: 5px;
}
.three-lines .line-3{
    width: 20px;
    height: 3px;
    background-color:#df9203;
    margin-top: 5px;
}
.dismiss-icon {
    position: absolute;
    left: 1px;
    visibility: hidden;
    top: 8px;
}
.dismiss-icon .line-4 {
    width: 25px;
    height: 3px;
    background-color: #df9203;
    margin-top: 5px;
    transform: translate(1px, 0px) rotate(-45deg);
}
.dismiss-icon .line-5 {
    width: 25px;
    height: 3px;
    background-color: #df9203;
    margin-top: 5px;
    transform: translate(1px, -9px) rotate(45deg);
}
/*menu*/    
.menu{
    width: 100%;
    visibility: hidden;
    transition:.2s; 
}
.menu ul {
    margin-top:40px;
    margin-left: 90px;
}
.menu ul li {
    padding: 10px;
}
.menu ul li a{
    color: #df9203;
}